body { min-height: 100vh; }
textarea { resize: vertical; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

#addIngredient { float: right; }
#app {  overflow: hidden; }
.btn-circle { height: 31px; width: 35px; line-height: 37px; background-color: #c7c7c7; border:none; border-radius: 50%; }
.btn-circle:hover { opacity: .7; }
.btn-circle span { color: #000; }
.btn-favorited span { color: #e85959; }

.navbar { margin-bottom: 0; }
.sidebar-inner { padding: 80px 10px 0; }
.sidebar_title { text-align: center; }

.recipe { height: 280px; margin-bottom: 25px; border: 1px solid #eee; border-radius: 4px; box-shadow: 1px 2px 10px #eee; }
.recipe .recipe_title { color: inherit; }
.recipe .recipe_title:hover { color: #e85959; }

.recipe_info { padding: 0 20px; }
.recipe_row { padding: 8px 0; border-bottom: 1px solid #dedede; font-size:: 16px; }
.recipe_actions { padding: 10px; text-align: right; }
.recipe_actions a { display: inline-block; color: #000; text-decoration: none; }
.recipe_actions span { font-size: 20px; }

.recipe_header { position: relative; padding: 10px 0; margin-bottom: 25px; text-align: center; background-color: #222; color: #fff; }
.recipe_header h3 { display: inline-block; margin: 0; }
.recipe_header .btn-danger { position: absolute; right: 5px; top: 5px; }
.recipe_header .btn-edit {  position: absolute; right: 50px; top: 5px; }

.ingredient_action { text-align: center; }

.categories { list-style: none; }
.categories li { display: inline-block; width: 15%; padding: 10px; margin: 0 20px 15px; border: 1px solid #dedede; border-radius: 4px; background-color: #eee; text-align: center; }

#tagit { background-color: #fff; }
.tagit_actions { text-align: center; }

//Sidebar Toggle
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #eee;
    border-right: 1px solid #d3e0e9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.search {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
